@use "../base/variables" as *;

.main {
	background-color: var(--secondary-color);
	&-content {
		// the global gutenburg block layout styles
		> *,
		.wp-block-group__inner-container > * {
			max-width: $screen-lg;
			width: 93%;
			margin-left: auto;
			margin-right: auto;
			&.alignwide {
				width: 100%;
			}
			&.alignfull {
				max-width: none;
				width: 100%;
			}
		}
		&-comments {
			clear: both;
			.comment-box {
				margin-left: 1rem;
			}
		}
	}
}
