@use "../base/variables" as *;

/**
 * Desktop menu styles
 */


@media (min-width: 900px) {
	header {
		background: #fcf9f2;

		> .wrapper {
			display: flex;
			max-width: 1350px;
			align-items: center;
			justify-content: space-between;
			padding: 1.5rem 0;
		}
		.header-navigation {
			padding-left: 40px;
			position: relative;

			> ul {
				display: flex;
				gap: 10px;

				> li {
					position: relative;
					list-style: none;
					display: flex;
					align-items: center;
					flex-wrap: nowrap;
					padding-bottom: 10px;

					&::after {
						position: absolute;
						content: "";
						width: 0;
						height: 1.5px;
						left: 50%;
						bottom: 10px;
						background: var(--e-global-color-0e8d878);
						transition: ease .15s;
					}

					&:hover::after {
						width: 100%;
						left: 0;
					}

					&.active {
						> ul {
							display: block;
						}
						.link-chev > svg {
							transform: rotate(180deg);
						}
					}
					> a {
						display: flex;
						text-decoration: none;
						font-size: 18px;
						overflow-y: hidden;
						background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, white, white);
						background-size: 100% 1px, 0 1px;
						background-repeat: no-repeat;
						background-position: 100% 90%, 0 90%;
						transition: ease .3s;

						&:hover {
							background-size:0 1px, 100% 1px;
							color: var(--e-global-color-text);
						}
					}
					
					> .link-chev {
						background: transparent;
						border: none;
						width: 25px;
						height: auto;

						> svg {
							fill: white;
							transition: ease .3s;
						}
					}
					> ul {
						display: none;
						position: absolute;
						top: 100%;
						z-index: 100;

						> li {
							position: relative;
							display: flex;
							list-style: none;
							background: var(--e-global-color-primary);
							color: white;
							transition:  background .15s ease;
							border-top: 1px solid var(--e-global-color-0e8d878);

							&:nth-of-type(1) {
								border-top: none;
							}

							&:hover {
								background: var(--e-global-color-accent);
							}

							> a {
								text-decoration: none;
								font-size: 18px;
								transition: ease .05s;
								padding: 10px 15px 10px 10px;
								white-space: nowrap;

								&:hover {
									font-weight: 500;
									color: white;
								}
							}
						}
					} 
				}	
			}
		}
	}
	.menu-logo-wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.hamburger-menu {
			width: 100px;
			height: 100px;
			background: #1E4062;
			padding: 20px;

			> .menu-button {
				display: block;
				width: 100%;
				height: 100%;
				background: transparent;
				border: none;

				> .menu-bars {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 5px;
					cursor: pointer;

					> svg {
						width: 35px;
						height: 35px;
						fill: white;
					}
				}
			}
		}
	}
	.cta-wrapper {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 40px;
		height: 50px;
		width: 100%;
		max-width: 200px;

		> .header-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			background: transparent;
			text-decoration: none;
			border: 2px solid #843B49;
			font-family: var(--accent-font);
			font-size: 16px;
			color: var(--primary-text);
			transition: ease .25s;
			letter-spacing: 1.3px;

			&:hover {
				background: #1E4062;
				border: none;
				color: white;
			}
		}
	}
}

@media (max-width: 1300px) {
	header .header-navigation {
		padding-left: 15px;
	}
	.cta-wrapper {
		max-width: 150px;
	}
}
@media (max-width: 1200px) {
	.cta-wrapper {
		display: none;
	}
}
/**
 * Mobile nav trigger button
 */
.header-trigger {
	margin-bottom: 0;
	margin-left: auto;
	@media (min-width: 900px) {
		display: none;
	}
}

/**
 * Mobile nav styles (if you want to override mmenu-light's default styles)
 */
@media (max-width: 899px) {
	header {
		background: #fcf9f2;

		.menu-logo-wrapper {
			display: flex;
			align-items: center;

			.header-logo {
				padding-left: 20px;
			}
		}

		.hamburger-menu {
			width: 100px;
			height: 100px;
			background: #1e4062;
			padding: 20px;

			> .menu-button {
				display: block;
				width: 100%;
				height: 100%;
				background: transparent;
				border: none;

				> .menu-bars {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 5px;
					cursor: pointer;

					> svg {
						width: 35px;
						height: 35px;
						fill: white;
					}
				}
			}
		}
	}
	.cta-wrapper {
		display: none;
	}
}

@media (max-width: 425px) {
	header {

		> .menu-logo-wrapper {
			padding-left: 20px;

			> .hamburger-menu {
				width: 75px;
				height: 75px;
			}
		}
	}
}

/**
	Sidebar Styles
*/
.sidebar {
	width: 450px;
	height: 100%;
	position: fixed;
	top: 0;
	left: -100%;
	z-index: 100;
	background-color: #1E4062;
	transition: ease .5s;

	> .sidebar-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding: 60px 60px;

		> .nav-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			> .close-btn {
			display: block;
			width: 30px;
			height: 30px;
			background-color: transparent;
			padding-bottom: 60px;
			border: none;
			}
			> .mobile-header-navigation {
				display: flex;
				align-items: flex-start;
				position: relative;
				max-height: 500px;
				overflow: auto;
				li:before {
					display: none;
				}
				> ul {
					display: flex;
					flex-direction: column;
					width: 100%;
					> li {
						position: relative;
						list-style: none;
						display: flex;
						flex-wrap: wrap;
						padding: 5px 0;

						&.active {
							> ul {
								display: block;
								flex: 1 1 100%;
							}
							.link-chev > svg {
								transform: rotate(180deg);
							}
						}
						> a {
							display: flex;
							text-decoration: none;
							padding-top: 10px;
							color: white;
							font-size: 28px;
							overflow-y: hidden;
							background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, white, white);
							background-size: 100% 1px, 0 1px;
							background-repeat: no-repeat;
							background-position: 100% 90%, 0 90%;
							transition: ease .3s;

							&:hover {
								background-size:0 1px, 100% 1px;
							}
						}
						
						> .link-chev {
							background: transparent;
							border: none;
							width: 35px;
							height: auto;
							padding-top: 10px;

							> svg {
								fill: white;
							}
						}
						> ul {
							display: none;
							> li {
								position: relative;
								list-style: none;
								border-bottom: 3px dashed #1A334D;
								padding: 10px 0;
								
								&:nth-of-type(1) {
									border-top: 3px dashed #1A334D;
								}
								> a {
									text-decoration: none;
									color: white;
									font-size: 20px;
									font-family: var(--accent-font);
									letter-spacing: 1.3px;
									transition: ease .05s;

									&:hover {
										font-weight: 500;
									}
								}
							}
						} 
					}	
				}
			}
		}
		> .contact {
			color: white;

			> h3 {
				font-weight: 400;
				font-size: 30px;
			}
			> .sidebar-btn {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 50px;
				background: transparent;
				text-decoration: none;
				border: 2px solid #B19751;
				margin-top: 20px;
				font-family: var(--accent-font);
				font-size: 16px;
				color: white;
				transition: ease .25s;
				letter-spacing: 1.3px;

				&:hover {
					background: #843B49;
					border: none;
				}
			}
		}
	}
}

.show {
	left: 0;
}

.hide {
	display: none;
}
.show-mobile {
	display: block;
}
/**
	Sidebar Mobile Styles
*/

@media only screen and (max-width: 900px) {
	.sidebar {
		width: 100%;

		.hamburger-menu {
			background: #1e4062;
		}
	}
}