@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/**
 * Screen sizes
 */
$screen-xs: 450px;
$screen-sm: 768px;
$screen-md: 960px;
$screen-lg: 1350px;

/**
  * Colors
  */
$blue: #017bc1;
$teal: #45b29d;
$yellow: #efc94c;
$orange: #e27a3f;
$red: #df4949;
$white: #fefefe;
$grey: #bbbbbb;
$black: #1f232a;

:root {
	// typography
	--heading-font: 'Crimson Text';
	--body-font: 'Crimson Text';
	--accent-font: 'Montserrat';

	// colors
	--e-global-color-text: #363232;
	--e-global-color-primary: #1e4062;
	--e-global-color-secondary: #fcf9f2;
	--e-global-color-0e8d878: #b19751;
	--e-global-color-accent: #843b49;
}
