/**
 * Pagination
 */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  > * {
    margin: 0.5rem;
  }
  .button {
    margin: 0;
    padding: 0.5rem;
    line-height: 1;
    min-width: 2rem;
  }
}
