{% extends "base.twig" %}

{% block content %}
	<article class="main-content">
		<h1 class="main-content-h1">Oh Snap!</h1>
		<p>Try going back to the previous page or start from scratch on our <a href="/">homepage</a>.</p>
	</article>
{% endblock %}