{% extends "base.twig" %}

{% block content %}
  <article class="main-content post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

    <div class="main-content-hero">
      <h1>The Design System</h1>
    </div>

    <div style="height: 200px;"></div>

    <h2>Typography</h2>
    <hr/>
    <h1>Heading 1</h1>
    <hr/>
    <h2>Heading 2</h2>
    <hr/>
    <h3>Heading 3</h3>
    <hr/>
    <h4>Heading 4</h4>
    <hr/>
    <h5>Heading 5</h5>
    <hr/>
    <h6>Heading 6</h6>
    <hr/>
    <p>Aenean faucibus nibh et
      <code>['variable','const','whocares']</code>
      justo cursus id rutrum lorem imperdiet. Nunc ut
      <q>Dustin cares</q>
      sem vitae risus tristique posuere.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
    <p>Aenean faucibus nibh et justo
      <a href="#">cursus id rutrum lorem imperdiet</a>. Nunc ut sem vitae risus tristique posuere.</p>
    <h3>Un-ordered List</h3>
    <ul>
      <li>Unordered list item<br></li>
        <li>Lorem ipsum dolor sit amet
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>
              Lorem ipsum dolor sit amet
              <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>Lorem ipsum dolor sit amet</li>
      </ul>
      <h3>Ordered list</h3>
      <ol>
        <li>Ordered list item</li>
        <li>Lorem ipsum dolor sit amet
          <ol>
            <li>sub item</li>
            <li>sub item</li>
          </ol>
        </li>
      </ol>
      <h3>Blockquote</h3>
      <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.<cite>Author Name, Title</cite>
      </blockquote>
    </div>

    <div style="height: 200px;"></div>

    <h2>Buttons</h2>
    <p>
      <button class="button">Button element</button>
      <a href="#" class="button">A link with the button class</a>
      <button class="button" disabled>A disabled button</button>
    </p>

    <div style="height: 200px;"></div>

    <h2>Form Fields</h2>
    <form>
      <label>
        text
        <input type="text"/>
      </label>
      <label>
        password
        <input type="password"/>
      </label>
      <label>
        number
        <input type="number"/>
      </label>
      <label>
        email
        <input type="email"/>
      </label>
      <label>
        url
        <input type="url"/>
      </label>
      <label>
        tel
        <input type="tel"/>
      </label>
      <label>
        search
        <input type="search"/>
      </label>
      <label>
        textarea
        <textarea></textarea>
      </label>
      <label>
        date
        <input type="date"/>
      </label>
      <label>
        datetime
        <input type="datetime"/>
      </label>
      <label>
        datetime-local
        <input type="datetime-local"/>
      </label>
      <label>
        month
        <input type="month"/>
      </label>
      <label>
        week
        <input type="week"/>
      </label>
      <label>
        time
        <input type="time"/>
      </label>
      <label>
        select
        <select>
          <optgroup label="optgroup">
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
          </optgroup>
        </select>
      </label>
      <label>
        select (multiple attr)
        <select multiple>
          <optgroup label="optgroup">
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
          </optgroup>
        </select>
      </label>
      <label>
        select (size attr)
        <select size="4">
          <optgroup label="optgroup">
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
          </optgroup>
        </select>
      </label>
      <label>
        datalist
        <input list="datalist">
          <datalist id="datalist"/>
          <option value="option 1"/>
          <option value="option 2"/>
          <option value="option 3"/>
        </datalist>
      </label>
      <label>
        keygen
        <keygen/>
      </label>
      <label>
        output
        <output>123</output>
      </label>
      <label>
        radio 1
        <input type="radio" name="example" value="1"/>
      </label>
      <label>
        radio 2
        <input type="radio" name="example" value="2"/>
      </label>
      <label>
        checkbox 1
        <input type="checkbox" value="1" name="checkboxexample"/>
      </label>
      <label>
        checkbox 2
        <input type="checkbox" value="2" name="checkboxexample"/>
      </label>
      <label>
        color
        <input type="color"/>
      </label>
      <label>
        range
        <input type="range"/>
      </label>
      <label>
        file
        <input type="file"/>
      </label>
      <label>
        submit
        <input type="submit"/>
      </label>
      <fieldset>
        <legend>legend</legend>
        fieldset
      </fieldset>
    </form>

    <div style="height: 200px;"></div>

    <h2>Tables</h2>
    <table>
      <thead>
        <tr>
          <th>Column Header for Mobile</th>
          <th>Second Column Header for Mobile</th>
          <th>Another Column Header for Mobile</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Data 1 Lorem ipsum dolor sit amet</td>
          <td>Data 2 Suspendisse varius enim</td>
          <td>Data 3 Duis cursus, mi quis vierra</td>
        </tr>
        <tr>
          <td>Data 4</td>
          <td>Data 5</td>
          <td>Data 6</td>
        </tr>
        <tr>
          <td>Data 7</td>
          <td>Data 8</td>
          <td>Data 9</td>
        </tr>
      </tbody>
    </table>

    <div style="height: 200px;"></div>

    {# todo: loop through and render all blocks in blocks folder.
        meanwhile, add blocks manually via gutenburg editor.
    #}
    {{ post.content }}

  </article>
{% endblock %}
