{% extends "base.twig" %}

{% block content %}
	<article class="main-content post-type-{{ post.post_type }}" id="post-{{ post.id }}">
		<div class="main-content-hero">
			<h1>This content is protected.</h1>
		</div>
		<p>To view, please enter the password.</p>
		<form class="password-form" action="{{ function('site_url', 'wp-login.php', 'login_post') }}" method="post">
			<label>Password:<br />
				<input class="password-box" name="post_password" id="pwbox-{{ post.id }}" type="password" placeholder="Password" size="20" maxlength="20" />
			</label>
			<input type="hidden" name="action" value="postpass" />
			<button class="button" type="submit" name="Submit" />Submit</button>
		</form>
	</article>
{% endblock %}
