/**
 * npm package - similar to a CSS reset/normalize
 */

//@use "sanitize.css/sanitize";
//@use "sanitize.css/forms";
//@use "sanitize.css/assets";

/**
/**
 * WordPress-specific style overrides
 */
@use "./wordpress/wp";
@use "./wordpress/blocks";

/**
 * The foundation
 */
@use "./base/core";
@use "./base/typography";
@use "./base/helpers";

/**
 * Global Components (re-usable global things)
 * block specific styles should be kept inside the relevant `/views/blocks/...` folder.
 */
@use "./components/blockquote";
// @use "./components/button";
// @use "./components/form";
@use "./components/pagination";

/**
 * Global layout styles
 */
@use "./layout/header";
@use "./layout/body";
@use "./layout/footer";

/* Main column width */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.wp-block {
	max-width: 1202px;
	width: 93%;
	margin-left: auto;
	margin-right: auto;
	&[data-align="wide"] {
		width: 100%;
	}
	&[data-align="full"] {
		max-width: none;
		width: 100%;
	}
}
.acf-button {
	padding: 0.5rem 0.7rem !important;
	background: unset !important;
}
